{
  "presets": [
    ["es2015", { "modules": false}],
    "stage-0",
    "react"
  ],
  "plugins": [
    "external-helpers",
    "transform-export-extensions",
    "transform-class-properties",
    "transform-decorators",
    "transform-do-expressions",
    "transform-object-rest-spread"
  ]
}
